*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/*
npm-debug.log*
package-lock.json

.idea/
.sourcemaps/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
$RECYCLE.BIN/

.DS_Store
Thumbx.db
UserInterfaceState.xcuserstate
